/* PDFListPage.css */

/* Changes the size and position of the main header */
.pdf-list-page h1 {
    font-size: 6rem;
    font-weight: 800;
    text-align: center;
}

/* Changes the size and position of the subtext under the header */
.pdf-list-subtitle {
    font-size: 1.75rem;
    text-align: center;
}

.pdf-list-header {
  text-align: center;
  margin-bottom: 24px;
}

/* Black line separating header and content */
.pdf-list-divider {
  width: 80%; 
  margin: 12px auto; 
  border-bottom: 2px solid black;
}


/* Changes the position of the media cards */
.pdf-card-grid {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
    max-width: 1200px; 
    justify-content: center;
    margin-bottom: 30px;
}

/* Add tan boxes and adjust size for each card */
.pdf-card-wrapper {
    background-color: #f5deb3;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    width: 300px;
    border: 2px solid black;
    cursor: pointer;
}

/* Adds hover effect over each of the cards */
.pdf-card-wrapper:hover {
    transform: scale(1.03); 
    box-shadow: 0 6px 16px rgba(0,0,0,0.2); 
}

/* Wrapper around the image */
.pdf-card-image-wrapper {
    padding: 10px;
    background-color: #f5e6d3;
    height: 320px;              
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;           
    border-radius: 6px;        
}

/* Actual image */
.pdf-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;          
    border-radius: 6px;         
}


