


.pdf-list-page h1 {
    font-size: 6rem;
    font-weight: 800;
    text-align: center;
}


.pdf-list-subtitle {
    font-size: 1.5rem;
    text-align: center;
    color: #444;
}

.pdf-list-header {
  text-align: center;
  margin-bottom: 24px;
}


.pdf-list-divider {
  width: 80%; 
  margin: 12px auto; 
  border-bottom: 2px solid black;
}



.pdf-card-grid {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
    max-width: 1200px; 
    margin-bottom: 30px;
    justify-items: start;
}


.pdf-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}


.pdf-card-wrapper {
    background-color: #f5deb3;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.pdf-card-wrapper:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}


.pdf-card-image-wrapper {
    padding: 10px;
    background-color: #f5e6d3;
    height: 320px;              
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;           
    border-radius: 6px;        
}


.pdf-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;          
    border-radius: 6px;         
}

/* Change color of metadata */
.pdf-card-metadata {
    color: #444;
}

/* Change color of metadata */
.pdf-card-extra {
    color: #444;
}

